
/****************  PRODUCT PAGE CSS  ******************/
.product-page-first-section {
    position: relative;
    padding-top: 30px;
}
.product-page-first-section:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: var(--theme-color);
    width: 48%;
    z-index: -1;
}
.pdp-left-column {
    position: relative;  
}
.product-page-first-section .qty-spinner button svg path {
    fill: var(--white);
}
.product-page-first-section .qty-spinner input { 
    background: transparent;
    color: var(--white);
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white); 
}
.pdp-right-column {
    background: var(--theme-color);
    color: var(--white);
    display: flex;
    position: relative;
    z-index: 1;
}
.product-page-first-section .nice-select {
    background: transparent;
    font-weight: 500;
}
.product-page-first-section .nice-select .option { 
    color: var(--theme-color);
}
.prorow-lbl-qntty {
    max-width: 50%;
    width: 100%;
} 
.prorow-lbl {
    justify-content: space-between;
    margin: 20px 0 0;
} 
.prorow-lbl-color {
    max-width: 200px;
    width: 100%;
}
.prorow-lbl .qty-spinner { 
    max-width: 114px;
    height: 36px;
}
.product-labl {
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1;
}  
.pdp-main-img {
    position: relative;
    padding-top: 106%;
}
.pdp-thumb-slider-itm {
    padding: 22px 22px 22px 0;
} 
.pdp-thumb-img {
    position: relative;
    padding-top: 100%;
} 
.pdp-main-img img,
.pdp-main-img video, 
.pdp-main-img iframe,
.pdp-thumb-img svg,
.pdp-thumb-img video,
.pdp-thumb-img iframe,
.pdp-thumb-img img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.pdp-thumb-slider {
    margin-right:  -22px;
    background: var(--white);
    position: relative;
    z-index: 2;
}
.main-slider-wrp {
    margin-right: 130px;
}
.pdp-right-column-inner {
    position: relative;
    margin-left: -130px;
    background: var(--theme-color);
    z-index: 1;
    padding: 30px 0 0 40px;
}
.back-btn span {
    width: 34px;
    height: 34px;
    display: flex;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 100%;
    text-align: center;
    padding: 4px 0;
    margin-right: 10px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}
.back-btn {
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
} 
.wishbtn {
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    position: absolute;
    right: 0;
    top: 35px;
} 
.wishbtn span {
    display: block;
    height: 20px;
    width: 20px;
    margin-left: 10px;
} 
.wishbtn span svg {
    fill: var(--white);
}
.social-sharing {
    padding: 0;
    writing-mode: tb-rl;
    float: right;
    margin: 35px 0 0;
}
.social-sharing span {
    display: inline-block;
    vertical-align: middle;
    color: rgba(var(--white),.1);
    padding: 10px 0;
}
.social-sharing li {
    display: inline-block;
    vertical-align: middle;
}
.social-sharing li a {
    display: block;
    border-radius: 100%;
    text-align: center;
}
.social-sharing svg {
    vertical-align: middle;
    width: 26px;
    height: 26px; 
    background: rgba(255,255,255,0.1);
    padding: 7px;
    border-radius: 100%;
}
.product-description {
    padding:35px 50px 0 0;
}
.product-detail-bttom-stuff {
    display: flex;
    margin-top: 120px;
    margin-left: auto;
    max-width: calc(100% - 130px);
    width: 100%;
    flex-wrap: wrap;
} 
.product-detail-bttom-stuff .price {
    max-width: 50%;
    width: 100%;
    color: var(--white);
    font-size: 31px;
} 
.product-detail-bttom-stuff .buy-now-btn {
    margin-top: 20px;
} 
.product-detail-bttom-stuff button {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    color: var(--theme-color);
    font-weight: 600;
    padding: 16px 20px;
    border: 1px solid var(--white);
} 
.product-detail-bttom-stuff .addcart-btn svg {
    width: 26px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
} 
.product-detail-bttom-stuff .addcart-btn {
    max-width: 50%;
} 
.product-detail-bttom-stuff .price del {
    color: var(--white);
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    margin-top: 14px;
    margin-left: -31px;
} 
.product-detail-bttom-stuff .price .currency-type   { 
    display: inline-block;
    vertical-align: text-top;
    font-size: 15px;
} 
.product-detail-bttom-stuff .price  .tax-price {
    line-height: 1;
    font-size: 14px;
    opacity: 0.6; 
    width: 100%;
    font-weight: 500;
}
/****************  product gallery section css  ******************/
.product-description-gallery-section {
    background: var(--theme-color);
    color: var(--white);
    padding-bottom: 120px;
}
.product-description-gallery-section h5 {
    font-size: 15px;
    margin-bottom: 25px;
}
.pro-gallery a {
    display: block;
} 
.pro-gallery a img {
    width: 100%;
}
/****************  product two column section css  ******************/
.pro-two-column-content p {
    margin-bottom: 40px;
}
.pro-two-column-content {
    padding: 50px 0 20px;
}
.pro-two-column {
    position: relative;
    z-index: 1;
    margin-top: -43px;
}
.single-img img {
    width: 100%;
}
.testimonial-section  .container {
    max-width: calc((100% - 1200px)/2 + 1200px);
    margin-left: auto;
    margin-right: 0;
}
.testimonial-section .slick-list {
    padding-right: 20%;
}
/************** Testimonial section css *************/
.testimonial-itm .review-itm-inner {
    color: var(--theme-color);
    opacity: 0.6;
}
.testimonial-itm.slick-slide.slick-current  .review-itm-inner {
    opacity: 1;
}
.testimonial-slider {
    margin: 0 -15px;
}
.testimonial-itm {
    padding: 0 15px;
}
.review-botton {
    margin-top: 20px;
}
.testimonial-slider .abt-user-img {
    border: 1px solid var(--theme-color);
}
.testimonial-slider .slick-arrow {  
    border-radius: 100%;
    border: 1px solid var(--theme-color);
    width: 35px;
    height: 35px;
    opacity: 0;
}
.testimonial-slider:hover .slick-arrow {
    opacity: 1;
}
.testimonial-slider .slick-arrow   svg {
    height: 12px;
    width: 16px;
}
.testimonial-itm .review-itm-inner svg {
    margin-bottom: 13px;
}
.testimonial-slider .slick-arrow:focus, 
.testimonial-slider .slick-arrow:hover {
    background-color: var(--white);
}
/************** Common banner section css *************/
.common-banner-section {
    padding: 70px 0;
    background: var(--theme-color);
    color: var(--white);
}  
.common-banner-content .back-btn {
    margin-bottom: 26px;
} 
.common-banner-content .section-title h2 span {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
}
.common-banner-content .section-title {
    margin-bottom: 12px;
}
/***********  Product filter category css ***********/
.product-heading-row { 
    border-bottom: 1px solid var(--theme-color);
    align-items: center;
}
.product-heading-column {
    padding: 14px 0!important;
} 
.product-heading-right-column {
    padding: 14px 0  14px 22px!important; 
    border-left: 1px solid var(--theme-color);
}
.filter-select-box {
    min-width: 160px;
}
.product-heading-row .sort-lbl {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}
.product-heading-row .nice-select:after {
    border-bottom: 2px solid var(--theme-color);
    border-right: 2px solid var(--theme-color);
}
.product-heading-row .nice-select {
    border: solid 1px var(--theme-color);
    color: var(--theme-color);
    width: 160px;
}
.produdt-filter-cat li a {
    font-weight: 500;
} 
.produdt-filter-cat li:not(:last-of-type) {
    padding-right: 10px;
    margin-right: 10px;
    position: relative;
} 
.produdt-filter-cat li:not(:last-of-type):after {
    content: '/';
    position: absolute;
    right: -1px;
}
 .acnav-list {
    display: none; 
    padding:0 0 10px 0;
}
.product-cat-widget .acnav-list { 
    padding:0 0 10px 10px;
}
.product-widget .acnav-label {
    display: block;
    position: relative; 
    font-weight: 600;
}
.product-widget > .pro-itm > .acnav-label {
    font-weight: 600;
    padding: 12px 0;
    text-transform: uppercase;
}  
.product-widget .acnav-list li a {
    text-transform: capitalize;
} 
.product-widget .acnav-list li:not(:last-of-type) {
    margin-bottom: 8px;
} 
.pro-itm-inner > .filter-listing > ul >li > .acnav-list {
    padding: 10px 0 10px 10px;
}
.set .acnav-label:before,
.product-widget .acnav-label:before {
    content: "";
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translate(0%, -50%);
    height: 2px;
    width: 10px;
    background: #000;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
}
.set .acnav-label:after,
.product-widget .acnav-label:after {
    content: "";
    position: absolute;
    right:18px;
    top: 50%;
    transform: translate(0%, -50%);
    height: 10px;
    width: 2px;
    background: #000;
    transition: ease-in-out all 0.5s;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
}
.set.is-open .acnav-label:after,
.product-widget .is-open > .acnav-label:after{
    opacity: 0;
}
.product-filter-body {
    padding:0 0 20px;
}
.product-widget {
    border-bottom: 1px solid var(--theme-color);
    padding: 10px 0;
}
.product-filter-right-column {
    border-left: 1px solid var(--theme-color);
    padding-left: 22px !important;
}
.delete-all {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    margin: 10px 0 0;
} 
.delete-all svg {
    height: 12px;
    margin-right: 5px;
    width: 12px;
} 
.product-tag-widget ul li a {
    padding: 10px 12px;
    background: transparent;
    color: var(--theme-color);
    font-size: 12px;
    line-height: 1;
    border: 1px solid var(--theme-color);
}
.product-tag-widget ul li a:hover, 
.product-tag-widget ul li.active a {
    background: var(--theme-color);
    color: var(--white);
}
.product-tag-widget ul li:not(:last-of-type) {
    margin-right: 5px;
}
.product-tag-widget ul li {
    display: inline-block;
}
#range-slider {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 23px;
}
.ui-slider-horizontal .ui-slider-range {
    background-color: var(--theme-color);
    height: 3px !important;
    top: -1px !important;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    background:var(--theme-color)  !important;
    border: 1px solid var(--theme-color) !important;
}
.ui-widget-content {
    background: #dddddd !important;
    border: none !important;
    border-radius: 0 !important;
    height: 1px !important;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    font-weight: normal;
    height: 8px !important;
    width: 8px !important;
    top: -3px !important;
    margin-left: 0 !important;
    background: var(--theme-color);
    box-shadow: inset 0 0 0 1px #ffffff;
    border: 1px solid var(--theme-color) !important;
    border-radius: 10px;
    z-index: 1;
}
.colour-col:not(:last-of-type) {
    padding: 0 15px 0 0;
}
.price-select {
    margin-left: -5px;
    margin-right: -5px;
}
.select-col p {
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 4px;
}
.select-col {
    width: 100%;
    max-width: 50%;
    padding: 0  5px;
}
.sorting-select {
    min-width: 125px;
}
.sorting-select select {
    padding: 10px 15px 9px;
    color: var(--black);
}
.product-price-widget .acnav-list {
    padding: 0 20px 10px 0;
}
.colors-checkbox label {
    width: 100%;
}
.custom-checkbox {
    flex-shrink: 0;
}
.custom-checkbox,
.colors-checkbox label { 
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    position: relative;
    text-align: left; 
} 
.custom-checkbox input[type="checkbox"] {
    margin-top: 0.25rem;
    cursor: pointer;
    position: absolute;
    opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0; 
    left: 0;
} 
.custom-checkbox input[type="checkbox"]+ .color,
 .custom-checkbox input[type="radio"]+ .color {
    margin-right: 3px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid  var(--border-color) ;
    border-radius: 3px;
    width: 0.9375rem;
    height: 0.9375rem;
}
.color, .custom-checkbox input[type="checkbox"]+ span.color {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid rgba(0,0,0,.05);
    cursor: pointer;
    background-size: contain;
    width: 1.25rem;
    height: 1.25rem;
    -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: 0 0 3px 0 rgb(0 0 0 / 15%);
    -o-box-shadow: 0 0 3px 0 rgba(0,0,0,.15);
    -ms-box-shadow: 0 0 3px 0 rgba(0,0,0,.15);
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 15%);
} 
.custom-checkbox input[type="checkbox"]:checked + span.color {
    border: 2px solid  var(--theme-color);
}
.custom-checkbox input[type="checkbox"]:checked + span.color:after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 8px;
    width: 5px;
    height: 9px;
    border: solid var(--theme-color);
    border-width: 0px 1px 1px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.color-name {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-right: 10px;
    font-size: 13px;
    font-weight: 500;
}
.product-widget .acnav-list .colors-checkbox  {
    margin-top: 8px;
}
.product-filter-right-column {
    padding-top: 22px !important;
}
.product-filter-right-column .row {
    margin: 0 -10px;
}
.product-filter-right-column .product-card {
    padding: 0 10px 20px;
}
.product-filter-right-column .product-content-bottom .price { 
    width: 100%;
    margin-bottom: 10px;
}
.product-filter-right-column .addtocart-btn svg {
    fill: var(--theme-color);
}
/************************  CART PAGE CSS **********************/
.cart-page-section {
    padding-top: 40px;
}
.cart-page-section .back-btn span svg path {
    fill: var(--theme-color);
} 
.cart-page-section .section-title   {
    margin-bottom: 50px;
}
.cart-page-section .section-title h2 {
    margin-top: 20px;
} 
.cart-page-section .section-title h2 span {
    font-size: 18px;
}
.product-option {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-top: 10px;
} 
.product-option dt {
    font-weight: 500;
} 
.product-option  dd {
    margin-left: 5px;
    font-weight: 400;
}
.remove-btn {
    display: inline-block;
    height: 18px;
    width: 18px;
    vertical-align: middle;
    margin-left: 8px;
} 
.remove-btn svg path {
    fill: red;
}
.cart-summery {
    border: 1px solid var(--border-color);
    padding: 20px;
}
.cart-summery ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}
.cart-summery ul li span:last-child {
    font-weight: 600;
}
.cart-summery .btn {
    padding: 15px 10px;
    display: block;
    width: 100%;
    margin-top: 20px;
    text-transform: capitalize;
}
/****  TABLE CSS ****/
table {
    border: 0;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: auto;
}
table tr {
    padding: 20px 0 0;
    border-bottom: 1px solid rgba(48, 56, 61, 0.1);
    display: block;
}
table tr:first-child {
    border-top: 1px solid rgba(48, 56, 61, 0.1);
}
table tr th, table tr td {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 500;
}
table tr th {
    padding-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(48, 56, 61, 0.1);
    font-weight: 700;
    text-transform: uppercase;
}
table tr th:first-child, table tr td:first-child {
    padding-left: 0;
}
table tr td:first-child a {
    vertical-align: middle;
}
table tr td {
    display: block;
    text-align: center;
    padding: 0 0 20px;
}
@media (min-width: 992px){
    .cart-tble tr th:first-child,  .cart-tble tr td:first-child {
        width: 90px;
    }
    .cart-tble tr th:nth-child(2),  .cart-tble tr td:nth-child(2) {
        width: 253px;
    }
    .cart-tble tr th:nth-child(4),  .cart-tble tr td:nth-child(4) {
        width: 116px;
        padding-right: 9px;
    }
}
@media (max-width: 767px){

    table tr td::before {
        content: attr(data-label);
        display: block;
        text-align: center;
        padding-bottom: 10px;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px; 
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        display: none;
    }
    .product-option { 
        justify-content: center;
    }
    table .qty-spinner { 
        justify-content: center;
        margin: 0 auto;
    }
    .remove-btn { 
        height: 14px;
        width: 14px;
    }
}
@media (min-width: 768px){
    table tr:first-child {
        border-top: none;
    }
    table tr {
        padding: 0;
        display: table-row;
    }
    table tr td {
        padding: 20px 10px 20px; 
        display: table-cell;
        text-align: left;
    }
    table tr th:last-child, table tr td:last-child {
        text-align: right;
        padding-right: 0;
    }
    table tr th:nth-child(5), table tr td:nth-child(5) {
        text-align: right;
    }
}
/****************** ABOUT PAGE CSS  ******************/
.row-reverse {
    flex-direction: row-reverse;  
}
.about-our-shop-section .row  { 
    margin-top: 50px; 
}
.abt-shp-column-right img {
    width: 100%;
}
.aboutpage-btm-sec {
    background: var(--white);
    color: var(--theme-color);
}
.aboutpage-btm-sec .about-us-box {
    padding: 25px 18px;
    border: 1px solid var(--theme-color);
    position: relative;
}
.aboutpage-btm-sec .about-us-box svg { 
    fill: var(--theme-color);
}
.aboutpage-btm-sec .section-title {
    max-width: 700px;
}
.aboutpage-btm-sec .section-title p{
   margin-top: 24px;
}
/******************  CMS PAGES CSS *****************/
.cms-page p:not(:last-of-type) {
    margin-bottom: 25px;
}
.cms-page h3, .cms-page h4, .cms-page h5 {
    margin: 20px 0;
}
.cms-page p a {
    display: inline-block;
    font-weight: 600;
    text-decoration: underline;
} 
.cms-page ul {
    margin: 20px;
} 
.cms-page ul li {
    list-style: disc;
} 
.cms-page ul li:not(:last-of-type) {
    margin-bottom: 9px;
}
/****************** CONTACT PAGE CSS ******************/ 
.contact-right-column {
    margin-top: -270px;
}
.contact-right-inner h2 {
    color: var(--white);
}
.contact-form {
    padding: 24px 20px;
    border: 2px solid var(--theme-color);
    background: var(--white);
} 
.submit-btn svg {
    width: 20px;
    margin-left: 8px;
    height: 14px;
} 
.submit-btn {
    width: 100%;
    padding: 14px 10px;
    text-transform: capitalize;
    align-items: center;
}
.contact-left-inner * {
    color: var(--theme-color);
}
.contact-left-inner   ul li {
    margin-bottom: 30px;
}
.contact-left-inner   ul li h4 {
    font-weight: 600; 
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 14px;
}
.contact-left-inner   ul li p { 
    margin-bottom: 0; 
    letter-spacing: 0;
    font-size: 20px;
    font-weight: 500;
    word-break: break-all;
}
.contact-left-inner   ul li .address {
    font-size: 12px;
    line-height: 26px;
}
/****************** FAQS PAGE CSS ***************/
.faq-search-form {
    max-width: 400px;
    margin: 25px 0;
}
.set {
    border: 1px solid var(--border-color); 
    margin-bottom: 30px;
}
.set .acnav-label {
    padding: 15px 25px 15px 15px;
    position: relative;
    font-size: 13px;
    font-weight: 600;
    width: 100%;
}
.set .acnav-list {
    padding: 15px;
    border-top: 1px solid var(--border-color);
}
.set .acnav-list p {
    font-size: 12px;
}
/*******************  BLOG PAGE CSS *****************/
.blog-page-banner .section-title {
    margin-bottom: 30px;
}
.blog-cat {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
} 
.blog-cat li:not(:last-of-type) {
    margin-right: 10px;
} 
.blog-cat li a {
    padding: 10px 20px;
    color: var(--white);
    background: transparent;
    border-radius: 50px;
    font-size: 13px;
    line-height: 1;
} 
.blog-cat li.active a,
.blog-cat li a:hover {
    background: var(--white);
    color: var(--theme-color);
}
.blog-grid  .blog-widget-inner {
    border-color: var(--theme-color);
}
.blog-grid .blog-caption { 
    border-top: 1px solid var(--theme-color);
}
.blog-grid .blog-btn { 
    background: var(--theme-color);
}
.blog-grid .blog-btn svg { 
    fill: var(--white);
}
.blog-grid .blog-widget {
    margin-bottom: 30px;
}
.blog-head-row {
    margin-bottom: 40px;
    border-bottom: 1px solid var(--border-color);
}
.blog-col-left ul li a {
    padding: 10px 15px;
    font-size: 14px;
    display: block;
    position: relative;
    opacity: 0.5;
    font-weight: 600;
} 
.blog-col-left ul li a:before {
    content: '';
    height: 2px;
    width: 100%;
    bottom: -1px;
    background: var(--theme-color);
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;  
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
}  
.blog-col-left ul li a:hover:before,
.blog-col-left ul li.active a:before{
    opacity: 1;  
}
.blog-col-left ul li a:hover,
.blog-col-left ul li.active a{
    opacity: 1;
}
.blog-col-right .select-lbl {
    display: block;
    flex-shrink: 0;
    font-size: 12px;
    font-weight: 600;
} 
.blog-col-left {
    flex: 1;
}
.blog-col-right .nice-select {
    flex: 1;
    border: none;
    padding: 10px 15px 10px 15px;
}
.blog-col-right .nice-select:after { 
    right: 0;
}
.blog-grid-section .section-title h2 b {
    font-style: normal;
}
/*************  ARTICLE PAGE CSS **************/
.article-banner .common-banner-content .back-btn {
    margin: 0 auto 26px auto;
    justify-content: center;
    display: flex;
    max-width: fit-content;
}
.article-banner .blog-cat { 
    margin: 40px 0;
}
.post-lbl {
    margin-left: 50px;
}
.article-section .abt-user-img {
    border-color:  var(--theme-color);
}
.article-section .section-title h2 {
    font-weight: 400;
    max-width: 400px;
    margin: 30px 0 0;
}
.aticleleftbar h5 {
    margin: 20px 0;
} 
.aticleleftbar p {
    margin-bottom: 25px;
} 
.aticleleftbar img {
    margin-bottom: 15px;
} 
.art-auther {
    margin-bottom: 50px;
    font-size: 14px;
}
.quote-box {
    position: relative;
    padding: 40px 0 40px 60px;
} 
.quote-box h3 {
    font-weight: 500;
    line-height: 1.6;
    font-family: var(--second-font);
} 
.quote-box svg {
    position: absolute;
    left: 0;
}  
.article-socials li a {
    height: 28px;
    width: 28px;
    background: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
} 
.article-socials li a svg  {
    fill: var(--white); 
    height: 12px;
    width: 12px;
} 
.article-socials li:not(:last-of-type) {
    margin-right: 10px;
}  
.article-socials li span {
    display: inline-block;
    font-size: 18px;
    margin-right: 10px;
} 
.latest-article-slider{
    margin: 0 -10px;
}
.latest-article-slider .blog-widget {
    padding: 0 10px;
}
.blog-media {
    position: relative;
}
.blog-widget-inner .blog-media .blog-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 35px;
    width: 35px;
    background: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    z-index: 1;
}  
.latest-article-slider-section .section-title h2 b {
    font-style: normal;
} 
.latest-article-slider-section .section-title {
    border-top: 1px solid var(--border-color);
    padding-top: 60px;
    margin-bottom: 40px;
} 
.latest-article-slider-section .slick-arrow { 
    opacity: 0;
}
.latest-article-slider-section .slick-slider:hover .slick-arrow { 
    opacity: 1;
}
/*****************  ORDER SUMMERY PAGE CSS ***************/
.backbtn .btn-secondary svg {
    transform: scale(-1);
    margin-right: 12px;
}  
.backbtn .btn-secondary {
    min-width: 190px;
    margin-top: 25px;
    background: var(--theme-color);
    color: var(--white);
} 
.backbtn .btn-secondary svg path {
    fill: var(--white);
}
.order-summery-page .section-title h2 {
    margin-bottom: 30px;
} 
.order-summery-page .section-title p {
    font-size: 18px;
    margin: 0;
}
/*****************  REGISTER PAGE CSS ***************/
.back-toshop span  svg path {
    fill: var(--theme-color);
}
.back-toshop {
    margin-bottom: 30px;
}
.form-wrapper h4 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 15px;
} 
.form-wrapper .form-heading h4 {
    margin-bottom: 0;
}
.form-wrapper h4 b {
    font-family: var(--first-font);
    font-style: normal;
    font-weight: 600;
}  
.form-wrapper form {
    border: 1px solid var(--border-color);
} 
.form-container {
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
}
.form-footer {
    padding-top: 30px;
}
.form-container:last-child {
    border-bottom: 0;
}
.register-page .section-title {
    margin-bottom: 50px;
}
/****************  LOGIN PAGE CSS ***************/
.login-form .submit-btn {
    max-width: 170px;
    margin: 0 0 0 15px;;
}
.login-form .form-footer {
    padding: 0;
}
.forgot-pass {
    color: red;
    font-size: 14px;
}
.login-form p {
    margin-bottom: 15px;
} 
.register-btn { 
    background: transparent;  
}
.reg-lbl {
    font-size: 14px;
    margin-right: 10px;
}
.login-form .form-heading h4 {
    margin-bottom: 0;
    font-weight: 600;
}
/**************** MY ACCOUNT PAGE CSS ******************/ 
.my-acc-leftbar h4, .my-acc-rightbar h2 {
    font-weight: 400;
}
.my-acc-leftbar {
    border: 1px solid var(--border-color);
} 
.my-acc-leftbar li:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
} 
.account-list li a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    opacity: 0.5;
} 
.account-list li a svg {
    flex-shrink: 0;
    margin-right: 10px;
} 
.account-list li a span {
    flex: 1;
} 
.account-list li a span b {
    display: block;
} 
.my-acc-leftbar li a:hover,
.my-acc-leftbar li.active a  {
    opacity: 1;
} 
.my-acc-leftbar li a svg path {
    fill: var(--theme-color);
}
.my-acc-leftbar h4 {
    padding: 15px 15px 5px;
}
.my-acc-head {
    margin-bottom: 50px;
}
.my-acc-rightbar .account-list li {
    display: flex;
    margin-bottom: 20px;
}
.my-acc-rightbar .account-list li a { 
    border: 1px solid var(--theme-color);
    width: 100%;
}
.my-acc-rightbar .account-list li.active a svg path, 
.my-acc-rightbar .account-list li a:hover svg path {
    fill: var(--white);
}
.my-acc-rightbar .account-list li.active a,
.my-acc-rightbar .account-list li a:hover {
    opacity: 1;
    color: var(--white);
    background: var(--theme-color);
}
.account-list li.logout-link a svg path {
    fill: red;
} 
.account-list li.logout-link a {
    opacity: 1;
    color: red;
}
.my-acc-right-content {
    padding-bottom: 50px;
}
#scroll{
    position: sticky;
    top: 100px;
    left: 0;
    z-index: 1;
}
.acc-back-btn-wrp button svg { 
    width: 16px;
}  
.acc-back-btn-wrp .back-btn-acc svg { 
    margin-left: 0;
}
.acc-back-btn-wrp button {
    text-transform: capitalize;
    font-size: 14px;
}
.back-btn-acc  {
    background: transparent; 
    margin-right: 12px;
}
.back-btn-acc svg {
    transform: scale(-1);
    -webkit-transform: scale(-1);
    -moz-transform: scale(-1);
    -ms-transform: scale(-1);
    -o-transform: scale(-1);
    margin: 0 10px 0 0;
}
.order-history-frame { 
    border: 1px solid var(--border-color);
}
.order-history-tbl tr th:first-child, .order-history-tbl tr td:first-child {
    padding-left: 15px;
} 
.order-history-tbl tr th {
    padding-top: 15px;
    text-transform: capitalize; 
}
.order-history-tbl tr th:last-child,.order-history-tbl tr td:last-child { 
    padding-right: 15px;
}
.order-history-tbl tr th:nth-child(5), .order-history-tbl tr td:nth-child(5) {
    text-align: left;
}
.order-history-tbl tr th:nth-child(6), .order-history-tbl tr td:nth-child(6) {
    text-align: center;
}
.order-history-tbl tr td {
    padding: 15px 15px 15px; 
} 
.order-history-tbl tr td { 
    font-weight: 400;
}
.right-result-tbl {
    padding: 20px 15px 0;
    font-size: 14px;
}
.order-confirm-details {
    border: 1px solid var(--border-color);
    padding: 20px;
}
.order-confirmation-body {
    padding: 30px 20px;
    border-top: 1px solid var(--border-color);
}
.order-confirmation h4 {
    padding: 15px;
}
.order-confirmation {
    border: 1px solid var(--border-color);
}
.order-confirm-details h5 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}
.order-confirm-details p {
    font-size: 14px;
    margin-bottom: 30px;
} 
.order-confirm-details .link {
    font-size: 14px;
}