/*================================================================================================*/
/*=================[                                                            ]=================*/
/*=================[    !!!!!!!!   CSS CREATED BY RAJODIYA INFOTECH  !!!!!!!!   ]=================*/
/*=================[                                                            ]=================*/
/*================================================================================================*/
/* =========================== */
/* !! SITE PAGE USE !!         -
1.  Home                       -
2.  Collection  List           -
3.  Product detail             -
4.  About us                   -
5.  FAQs                       -
6.  Contact Us                 -
7.  Login/Register/Account     -
8.  Privacy Policy             -
9.  Blog                       -
10. Article                    -
11. Wishlist                   -
12. Cart                       - 
/* =========================== */
/* ============================================= */
/* !!!!         VARIABLES STYLE CSS         !!!! */
/* ============================================= */
:root {
    --first-font: 'Outfit', sans-serif;
    --second-font:'Josefin Sans', sans-serif;
    --theme-color: #6A593D;
    --second-color: #000000;
    --grey-color:#4B4B4B;
    --border-color: #ad8d58;
    --black: #000000;
    --white: #ffffff;
    --h1: normal 700 51px/1 var(--second-font);
    --h2: normal 700 42px/1 var(--second-font);
    --h3: normal 700 32px/1 var(--second-font);
    --h4: normal 700 22px/1 var(--second-font);
    --h5: normal 700 20px/1 var(--second-font);
    --h6: normal 700 18px/1 var(--second-font);
    --common-text: normal 400 16px/1.4 var(--first-font);
}
/* ============================================= */
/* !!!!        SITE GLOBAL STYLE CSS        !!!! */
/* ============================================= */
*,
:after,
:before {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    text-decoration: inherit;
    vertical-align: inherit;
}
html {
    outline: none;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
body,
html {
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}
body::-moz-scrollbar {
    display: none;
}
svg,
img {
    max-width: 100%;
    display: block;
}
a,
.btn,
button { 
    text-decoration: none;
    outline: none; 
    color: inherit;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    display: inline-block;
    cursor: pointer;
}
a,
a:hover,
a:focus,
a:active,
button,
button:hover,
button:focus,
input,
input:hover,
input:focus,
select,
select:hover,
select:focus,
textarea,
textarea:hover,
textarea:focus,
.btn,
.btn:hover,
.btn:focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
    text-decoration: none;
    -webkit-text-decoration-skip: objects;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    font-family: var(--first-font);
}
.form-control:focus,
[type="text"]:focus,
[type="email"]:focus,
[type="checkbox"]:focus,
[type="password"]:focus,
[type="file"]:focus,
[type="radio"]:focus,
[type="submit"]:focus,
[type="date"]:focus,
[type="time"]:focus,
[type="tel"]:focus,
[type="search"]:focus,
[type="button"]:focus,
[type="number"]:focus,
textarea:focus,
select:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
::-webkit-input-placeholder {
    color: var(--second-color);
}
:-ms-input-placeholder {
    color: var(--second-color);
}
::placeholder {
    color: var(--second-color);
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    list-style: none;
    vertical-align: baseline;
}
body { 
    font: var(--common-text);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: var(--white);
    color: var(--theme-color);
}
/* ============================================= */
/* !!!!         SITE TYPOGRAPHY CSS         !!!! */
/* ============================================= */
p,
li,
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
    font: var(--common-text);
}
h1,
.h1 {
    font: var(--h1);
}
h2,
.h2 {
    font: var(--h2);
}
h3,
.h3 {
    font: var(--h3);
}
h4,
.h4 {
    font: var(--h4);
}
h5,
.h5 {
    font: var(--h5);
}
h6,
.h6 {
    font: var(--h6);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0; 
}
h1 b, h2 b, h3 b, h4 b, h5 b, h6 b, .product-title b {
    font-weight: 400;
}
.uppercase {
    text-transform: uppercase;
}
.text-center {
    text-align: center !important;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
b {
    font-weight: bold;
    display: inline-block;
}
p:not(:last-of-type) {
    margin-bottom: 15px;
}
/* ============================================= */
/* !!!!             GRID CSS                !!!! */
/* ============================================= */
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.no-gutters {
    margin: 0 !important;
}
.row [class*="col-"] {
    padding: 0 15px;
}
.no-gutters [class*="col-"] {
    padding: 0;
}
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}
.d-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.align-items-start {
    -ms-flex-align: start;
    align-items: flex-start;
}
.align-items-end {
    -ms-flex-align: end;
    align-items: flex-end;
}
.align-items-center {
    -ms-flex-align: center;
    align-items: center;
}
.justify-content-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.justify-content-between {
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.justify-content-start {
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.justify-content-center {
    -ms-flex-pack: center;
    justify-content: center;
}
.justify-content-end {
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.direction-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.no-wrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.desk-only {
    display: none !important;
}
.mobile-only {
    display: block !important;
}
/*****  Columns  *****/
.col-auto {
    flex: 0 0 auto;
    width: auto;
}
.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}
.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}
.col-3 {
    flex: 0 0 auto;
    width: 25%;
}
.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}
.col-6 {
    flex: 0 0 auto;
    width: 50%;
}
.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}
.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}
.col-9 {
    flex: 0 0 auto;
    width: 75%;
}
.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}
.col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}
.offset-1 {
    margin-left: 8.33333333%;
}
.offset-2 {
    margin-left: 16.66666667%;
}
.offset-3 {
    margin-left: 25%;
}
.offset-4 {
    margin-left: 33.33333333%;
}
.offset-5 {
    margin-left: 41.66666667%;
}
.offset-6 {
    margin-left: 50%;
}
.offset-7 {
    margin-left: 58.33333333%;
}
.offset-8 {
    margin-left: 66.66666667%;
}
.offset-9 {
    margin-left: 75%;
}
.offset-10 {
    margin-left: 83.33333333%;
}
.offset-11 {
    margin-left: 91.66666667%;
}
@media (min-width: 576px) {
    .col-sm {
        flex: 1 0 0%;
    }
    .col-sm-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .col-sm-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .col-sm-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-sm-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-sm-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-sm-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-sm-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-sm-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-sm-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .col-sm-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .offset-sm-0 {
        margin-left: 0;
    }
    .offset-sm-1 {
        margin-left: 8.33333333%;
    }
    .offset-sm-2 {
        margin-left: 16.66666667%;
    }
    .offset-sm-3 {
        margin-left: 25%;
    }
    .offset-sm-4 {
        margin-left: 33.33333333%;
    }
    .offset-sm-5 {
        margin-left: 41.66666667%;
    }
    .offset-sm-6 {
        margin-left: 50%;
    }
    .offset-sm-7 {
        margin-left: 58.33333333%;
    }
    .offset-sm-8 {
        margin-left: 66.66666667%;
    }
    .offset-sm-9 {
        margin-left: 75%;
    }
    .offset-sm-10 {
        margin-left: 83.33333333%;
    }
    .offset-sm-11 {
        margin-left: 91.66666667%;
    }
}
@media (min-width: 768px) {
    .col-md {
        flex: 1 0 0%;
    }
    .col-md-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .col-md-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .col-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-md-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .col-md-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .offset-md-0 {
        margin-left: 0;
    }
    .offset-md-1 {
        margin-left: 8.33333333%;
    }
    .offset-md-2 {
        margin-left: 16.66666667%;
    }
    .offset-md-3 {
        margin-left: 25%;
    }
    .offset-md-4 {
        margin-left: 33.33333333%;
    }
    .offset-md-5 {
        margin-left: 41.66666667%;
    }
    .offset-md-6 {
        margin-left: 50%;
    }
    .offset-md-7 {
        margin-left: 58.33333333%;
    }
    .offset-md-8 {
        margin-left: 66.66666667%;
    }
    .offset-md-9 {
        margin-left: 75%;
    }
    .offset-md-10 {
        margin-left: 83.33333333%;
    }
    .offset-md-11 {
        margin-left: 91.66666667%;
    }
}
@media (min-width: 992px) {
    .col-lg {
        flex: 1 0 0%;
    }
    .col-lg-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .col-lg-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .offset-lg-0 {
        margin-left: 0;
    }
    .offset-lg-1 {
        margin-left: 8.33333333%;
    }
    .offset-lg-2 {
        margin-left: 16.66666667%;
    }
    .offset-lg-3 {
        margin-left: 25%;
    }
    .offset-lg-4 {
        margin-left: 33.33333333%;
    }
    .offset-lg-5 {
        margin-left: 41.66666667%;
    }
    .offset-lg-6 {
        margin-left: 50%;
    }
    .offset-lg-7 {
        margin-left: 58.33333333%;
    }
    .offset-lg-8 {
        margin-left: 66.66666667%;
    }
    .offset-lg-9 {
        margin-left: 75%;
    }
    .offset-lg-10 {
        margin-left: 83.33333333%;
    }
    .offset-lg-11 {
        margin-left: 91.66666667%;
    }
}
@media (min-width: 1200px) {
    .col-xl {
        flex: 1 0 0%;
    }
    .col-xl-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .col-xl-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .col-xl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-xl-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-xl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-xl-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-xl-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-xl-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-xl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-xl-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-xl-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .col-xl-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .col-xl-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .offset-xl-0 {
        margin-left: 0;
    }
    .offset-xl-1 {
        margin-left: 8.33333333%;
    }
    .offset-xl-2 {
        margin-left: 16.66666667%;
    }
    .offset-xl-3 {
        margin-left: 25%;
    }
    .offset-xl-4 {
        margin-left: 33.33333333%;
    }
    .offset-xl-5 {
        margin-left: 41.66666667%;
    }
    .offset-xl-6 {
        margin-left: 50%;
    }
    .offset-xl-7 {
        margin-left: 58.33333333%;
    }
    .offset-xl-8 {
        margin-left: 66.66666667%;
    }
    .offset-xl-9 {
        margin-left: 75%;
    }
    .offset-xl-10 {
        margin-left: 83.33333333%;
    }
    .offset-xl-11 {
        margin-left: 91.66666667%;
    }
}
@media (min-width: 1400px) {
    .col-xxl {
        flex: 1 0 0%;
    }
    .col-xxl-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .col-xxl-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .col-xxl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-xxl-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-xxl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-xxl-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-xxl-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-xxl-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-xxl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-xxl-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-xxl-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .col-xxl-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .col-xxl-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .offset-xxl-0 {
        margin-left: 0;
    }
    .offset-xxl-1 {
        margin-left: 8.33333333%;
    }
    .offset-xxl-2 {
        margin-left: 16.66666667%;
    }
    .offset-xxl-3 {
        margin-left: 25%;
    }
    .offset-xxl-4 {
        margin-left: 33.33333333%;
    }
    .offset-xxl-5 {
        margin-left: 41.66666667%;
    }
    .offset-xxl-6 {
        margin-left: 50%;
    }
    .offset-xxl-7 {
        margin-left: 58.33333333%;
    }
    .offset-xxl-8 {
        margin-left: 66.66666667%;
    }
    .offset-xxl-9 {
        margin-left: 75%;
    }
    .offset-xxl-10 {
        margin-left: 83.33333333%;
    }
    .offset-xxl-11 {
        margin-left: 91.66666667%;
    }
}
/* ============================================= */
/* !!!!          NICE SELECT CSS           !!!! */
/* ============================================= */
.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    border: solid 1px var(--theme-color);
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    outline: none;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px 35px 10px 15px;
    width: 100%;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.nice-select:after {
    content: '';
    display: block;
    height: 10px;
    width: 11px;
    pointer-events: none;
    position: absolute;
    right: 15px;
    top: 50%;
    background: url(../images/down-arrow.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 11px;
    -webkit-transition: -webkit-transform .3s linear;
    transition: -webkit-transform .3s linear;
    -o-transition: transform .3s linear;
    transition: transform .3s linear;
    transition: transform .3s linear, -webkit-transform .3s linear;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.nice-select.open:after {
    transform: translateY(-50%) rotate(180deg);
    -webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    -o-transform: translateY(-50%) rotate(180deg);
}
.nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -moz-transform: scale(1) translateY(0);
    -o-transform: scale(1) translateY(0);
}
.nice-select.disabled {
    border-color: var(--border-color);
    color: var(--border-color);
    pointer-events: none;
}
.nice-select.disabled:after {
    border-color: #cccccc;
}
.nice-select.wide {
    width: 100%;
}
.nice-select.wide .list {
    left: 0 !important;
    right: 0 !important;
}
.nice-select.right {
    float: right;
}
.nice-select.right .list {
    left: auto;
    right: 0;
}
.nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px;
}
.nice-select.small:after {
    height: 4px;
    width: 4px;
}
.nice-select.small .option {
    line-height: 34px;
    min-height: 34px;
}
.nice-select .list {
    background-color:var(--white);
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.7);
    box-sizing: border-box;
    margin-top: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
    -ms-transform: scale(0.75) translateY(-21px);
    transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 2;
    width: 100%;
    -moz-transform: scale(0.75) translateY(-21px);
    -o-transform: scale(0.75) translateY(-21px);
    -moz-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    -ms-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    -o-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.nice-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}
.nice-select .option {
    cursor: pointer;
    font-weight:500;
    list-style: none;
    outline: none;
    padding-left: 14px;
    padding-right: 14px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-size: 12px;
    letter-spacing: 0.5px;
    padding: 10px 15px;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s; 
    margin: 0 !important;
}
.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
    background-color:  #eae9e9;
}
.nice-select .option.selected {
    font-weight: bold;
}
.nice-select .option.disabled {
    background-color: transparent;
    color: #999;
    cursor: default;
}
.no-csspointerevents .nice-select .list {
    display: none;
}
.no-csspointerevents .nice-select.open .list {
    display: block;
}
/* ============================================= */
/* !!!!          SLICK SLIDER CSS           !!!! */
/* ============================================= */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: "";
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir="rtl"] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
    outline: none;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-dots {
    display: flex !important;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
    bottom: 20px;
}
.slick-dots li:not(:last-child) {
    margin-right: 9px;
}
.slick-dots li {
    display: flex;
    height: 5px;
    width: 5px;
    background: var(--theme-color);
    border-radius: 100%;
    border: 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    position: relative;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
}
.slick-dots li:before {
    content: '';
    position: absolute;
    height: 13px;
    width: 13px;
    border: 1px solid var(--black);
    top: -4px;
    left: -4px;
    right: 0;
    bottom: 0;
    border-radius: 100px;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    opacity: 0;
}
.slick-dots li.slick-active:before {
    opacity: 1;
}
.slick-dots li button {
    display: none;
}
.slick-slider .slick-next, .slick-slider .slick-prev{
    display: inline-block;
    vertical-align: middle;
}
.slick-slider .slick-next::before, .slick-slider .slick-prev::before{
    display: none;
}
.slick-slider .slick-arrow {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    font-size: 0;
    border: 0;
    outline: none;
    z-index: 1;
    border-radius: 0;
    padding: 0;
    background-color: var(--theme-color);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}
.slick-arrow span {
    display: block;
    height: 100%;
    width: 100%;
}
.slick-arrow svg {
    height: 100%;
    width: 100%;
    fill: var(--white);
} 
.slick-slider .slick-prev {
    left:0;
    transform: translateY(-50%) scale(-1);
    -webkit-transform: translateY(-50%) scale(-1);
    -moz-transform: translateY(-50%) scale(-1);
    -ms-transform: translateY(-50%) scale(-1);
    -o-transform: translateY(-50%) scale(-1);
}
.slick-slider .slick-next {
    right: 0;
} 
.slick-lightbox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: var(--theme-color);
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
}
.slick-lightbox .slick-loading .slick-list {
    background-color: transparent;
}
.slick-lightbox .slick-prev {
    left: 15px;
}
.slick-lightbox .slick-next {
    right: 15px;
}
.slick-lightbox-inner .slick-arrow {
    background: var(--white) url(../images/right-arrow.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.slick-lightbox-hide {
    opacity: 0;
}
.slick-lightbox-hide-init {
    position: absolute;
    top: -9999px;
    opacity: 0;
}
.slick-lightbox-inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slick-lightbox-slick-item {
    text-align: center;
    overflow: hidden;
}
.slick-lightbox-slick-item:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
.slick-caption-bottom .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
.slick-caption-dynamic .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption {
    display: block;
    text-align: center;
}
.slick-lightbox-slick-item-inner {
    display: inline-block;
    vertical-align: middle;
    max-width: 90%;
    max-height: 90%;
}
.slick-lightbox-slick-img {
    margin: 0 auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
}
.slick-lightbox-slick-caption {
    margin: 10px 0 0;
    display: block;
    color: var(--white);
}
.slick-lightbox-close {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    padding: 0;
    border: none;
}
.slick-lightbox .close svg {
    height: 100%;
    width: 100%;
}
.slick-lightbox .close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--white);
    opacity: 1;
    background: transparent;
    border: none;
    height: 27px;
    width: 27px;
    padding: 0;
}
.open-lightbox {
    height: 50px;
    width: 50px;
    background: rgba(32, 30, 30, 0.49);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
} 
.slick-lightbox .slick-arrow.slick-prev { 
    -webkit-transform: translateY(-50%) scale(-1);
    -moz-transform: translateY(-50%) scale(-1);
    -ms-transform: translateY(-50%) scale(-1);
    -o-transform: translateY(-50%) scale(-1);
    transform: translateY(-50%) scale(-1);
}
.slick-lightbox .slick-arrow:hover, .slick-lightbox .slick-arrow:focus {
    background-color: var(--white);
} 
.slick-slide .nice-select .list {
    max-height: 60px;
    overflow: auto;
    scrollbar-width: none;
}
.slick-slide   .nice-select .option { 
    padding: 5px 15px;
}
.slick-slide .nice-select .list::-webkit-scrollbar {
    display: none;
}
.slick-slide .nice-select .list::-moz-scrollbar {
    display: none;
}
/* ============================================= */
/* !!!!          COMMON BUTTON              !!!! */
/* ============================================= */
.btn {
    text-align: center;
    padding: 11px 25px;
    font-family: var(--first-font);
    color: var(--white);
    background-color: var(--theme-color);
    box-shadow: none;
    appearance: none;
    outline: none;
    border: 1px solid var(--theme-color);
    position: relative;
    border-radius: 0;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    z-index: 1;
} 
.btn svg   {
    width: 20px;
    margin-left: 8px;
    height: 18px;
}
.btn svg path {
    fill: var(--white);
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}
.btn:hover,
.btn:focus {
    background-color: var(--second-color);
    color: var(--white);
}
.btn:focus svg path,
.btn:hover svg path {
    fill: var(--white);
}
.btn.white-btn {
    color: var(--theme-color);
    background-color: var(--white);
}
.btn.white-btn svg path {
    fill: var(--theme-color);
}
.btn.white-btn:hover,
.btn.white-btn:focus {
    color: var(--white);
    border-color: var(--second-color);
    background-color:var(--second-color);
}
.btn.white-btn:hover svg path,
.btn.white-btn:focus svg path {
    fill: var(--white);
} 
.btn-secondary {
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid var(--second-color);
    color: var(--second-color);
    background: transparent;
    justify-content: center;
    font-size: 12px;
    line-height: 1;
    font-weight: 600;
    transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -ms-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    text-transform: uppercase;
}
.btn-ic {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--theme-color);
    margin-left: 10px;
    transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -ms-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.btn-secondary svg {
    width: 12px;
    height: 12px;
}
.btn-secondary svg path {
    transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -ms-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    fill:  var(--white);
}
.btn-secondary:hover {
    background: var(--theme-color);
    color: var(--white);
}
.btn-secondary.white-btn .btn-ic{
    background: var(--white);
}
.btn-secondary:hover svg path {
    fill: var(--theme-color);
}
.btn-secondary.white-btn {
    border: 1px solid var(--white);
    color: var(--white);
}
.btn-secondary.white-btn:hover .btn-ic {
    background: var(--theme-color);
}
.btn-secondary.white-btn svg path {
    fill: var(--theme-color);
}
.btn-secondary.white-btn:hover {
    border: 1px solid var(--white);
    color: var(--theme-color);
    background: var(--white);
}
.btn-secondary:hover .btn-ic{
    background: var(--white);
}
.btn-secondary.white-btn:hover svg path {
    fill: var(--white);
}
.link-btn {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    text-align: center; 
    position: relative;
    padding-bottom: 5px;
} 
.link-btn:before{
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--white);
}
/* ============================================= */
/* !!!!             FORM  CSS               !!!! */
/* ============================================= */
.form-control,
input:not([type="submit"]),
input:not([type="checkbox"]),
input:not([type="radio"]),
select,
textarea {
    position: relative;
    border: 1px solid var(--border-color);
    display: block;
    width: 100%;
    padding: 15px 20px;
    background: transparent;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: var(--second-color);
}
textarea {
    resize: none;
}
form .row {
    margin: 0 -8px;
}
form .row [class*="col-"] {
    padding: 0 10px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}
.form-group .nice-select .list,
.form-group .form-control {
    border-radius: 0;
}
sup {
    top: -0.5em;
}
sub,
sup {
    position: relative;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    margin-left: 5px;
}
.form-group label sup {
    color: red;
    font-size: 10px;
    line-height: 0;
    margin-right: 3px;
}
.checkbox-custom input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}
.checkbox-custom label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;  
    font-size: 14px;
    line-height: 1.1;
    margin: 0;
    padding: 0 0 0 30px;
}
.checkbox-custom label:before {
    content: '';
    -webkit-appearance: none;
    background-color:transparent;
    border: 1px solid var(--second-color);
    padding: 8px;
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 15px;
    left: 0;
    top: 54%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.checkbox-custom input:checked+label:before { 
    background-color: var(--second-color);
    border-color: var(--second-color);
}
.checkbox-custom input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 7px;
    width: 4px;
    height: 8px;
    border: solid var(--white);
    border-width: 0px 1px 1px 0;
    transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
}
.checkbox-custom label a {
    text-decoration: underline;
    font-weight: 600;
}
/** RADIO BUTTON CSS **/
.radio-group input[type="radio"] {
    display: none;
    padding: 0;
    border: 0;
    background: transparent;
}
.radio-group label {
    cursor: pointer;
    position: relative;
    font-size: 12px;
    padding-left: 24px;
    color: var(--second-color);
    margin: 0;
    vertical-align: bottom;
}
.radio-group label::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 2px solid var(--second-color);
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: border-color 400ms ease;
    -webkit-transition: border-color 400ms ease;
    -moz-transition: border-color 400ms ease;
    -ms-transition: border-color 400ms ease;
    -o-transition: border-color 400ms ease;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.radio-group label::after {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: var(--second-color);
    border: 2px solid var(--second-color);
    border-radius: 50%;
    top: 50%;
    left: 1px;
    right: auto;
    transform: translateY(-50%) scale(0);
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transition: transform 400ms ease;
    -webkit-transition: transform 400ms ease;
    -moz-transition: transform 400ms ease;
    -ms-transition: transform 400ms ease;
    -o-transition: transform 400ms ease;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.radio-group input[type="radio"]:checked+label::before {
    border-color: var(--second-color);
}
.radio-group input[type="radio"]:checked+label::after {
    transform: translateY(-50%) scale(0.55);
    -webkit-transform: translateY(-50%) scale(0.55);
    -moz-transform: translateY(-50%) scale(0.55);
    -ms-transform: translateY(-50%) scale(0.55);
    -o-transform: translateY(-50%) scale(0.55);
}
/***** COMMON CSS ****/
body.active-menu,
body.no-scroll {
    overflow: hidden;
    position: relative;
}
.right-gliter {
    bottom: 0;
    right: 0;
}
.gliter-img {
    position: absolute;
    z-index: -1;
}
.padding-top {
    padding-top: 80px;
}
.padding-bottom {
    padding-bottom: 80px;
}
.section-title {
    margin-bottom: 26px;
}
.subtitle {
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.08em;
    margin-bottom: 20px;
}
/* ============================================= */
/* !!!!     CUSTOMIZE THE NAVBAR            !!!! */
/* ============================================= */

/** Main navigation bar css **/
.header-style-one {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}
.header-style-one .main-navigationbar .logo-col {
    max-width: 120px;
    width: 100%;
}
.header-style-one .main-navigationbar .logo-col a {
    display: block;
}
.header-style-one .main-navigationbar .menu-items-col {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header-style-one .main-navigationbar .menu-items-col .main-nav {
    display: none;
    padding-left: 65px;
}
.header-style-one .main-navigationbar .menu-items-col .main-nav>li {
    padding: 22px 0;
}
.header-style-one .main-navigationbar .menu-items-col .main-nav>li:not(:last-of-type) {
    padding-right: 30px;
}
.header-style-one .main-navigationbar .menu-items-col .main-nav>li>a {
    color: var(--white);
    text-transform: capitalize;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    padding: 0;
    position: relative;
    display: inline-flex;
    font: var(--common-text);
    align-items: center;
}
.header-style-one .main-navigationbar .menu-items-col .main-nav>li.has-item>a {
    padding-right: 20px;
}mini-cart-item
.header-style-one .main-navigationbar .menu-items-col .main-nav>li.has-item:hover>a:after {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.header-style-one .main-navigationbar .menu-items-col .main-nav>li>a:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    bottom: -3px;
    left: 0;
    right: 0;
    background: var(--theme-color);
    margin: 0 auto;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;   
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
.header-style-one .main-navigationbar .menu-items-col .main-nav>li.has-item>.category-btn {
    padding: 9px 20px 9px 20px;
    border: 1px solid var(--theme-color);
    font-weight: 600;
}
.header-style-one .main-navigationbar .menu-items-col .main-nav>li.has-item>.category-btn:after {
    right: 10px;
    top: 14px;
}
.header-style-one .main-navigationbar .menu-items-col .main-nav>li.has-item>.category-btn:before {
    display: none;
}
.header-style-one .main-navigationbar .menu-items-col .main-nav>li.has-item>.category-btn svg {
    margin-right: 8px;
}
.header-style-one .main-navigationbar .menu-items-col .main-nav>li.has-item>.category-btn svg path {
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
/**  Megamenu css  **/
.header-style-one .main-navigationbar {
    position: relative;
    background: var(--black);
}
.header-style-one .mobile-menu {
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 22px;
    height: 22px;
    margin: 0 0 0 20px;
}

.header-style-one .main-navigationbar .menu-items-col .main-nav>li.menu-lnk .menu-dropdown {
    position: absolute;
    top: 100%;
    background-color: var(--white);
    transform-origin: top;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
    opacity: 0;
    visibility: hidden;
    min-width: 220px;
    z-index: 2;
    padding: 20px;
    border-top: 1px solid var(--border-color);
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
}
.header-style-one .main-navigationbar .menu-items-col .main-nav>li.menu-lnk .menu-dropdown.mega-menu {
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 20px 0;
    background-color:var(--black);
}
.header-style-one .main-navigationbar .menu-items-col .main-nav>li:hover .menu-dropdown {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
}
.header-style-one .menu-dropdown ul>li:not(:last-of-type) {
    margin-bottom: 10px;
}
.cart-header {
    display: flex;
    align-items: center;
}

.cart-header svg{
    margin: auto;
}
.mega-menu-container ul li .header-img{
    position: relative;
    display: block;
    width: 100%;
    padding-top: 100%;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    margin: 0 10px;

}
.mega-menu-container ul li .header-img img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;  
}
/****** MOBILE MENU CSS ********/
.mobile-menu-wrapper {
    position: fixed;
    z-index: 4;
    background: var(--white);
    top: 0;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translate(100%, 0px);
    -moz-transform: translate(100%, 0px);
    -ms-transform: translate(100%, 0px);
    -o-transform: translate(100%, 0px);
    transform: translate(100%, 0px);
    right: 0;
    width: 100%;
}
.mobile-menu-wrapper.active-menu {
    transform: translate(0%, 0px);
}
.mobile-menu-wrapper .menu-close-icon {
    text-align: right;
    padding: 15px 20px;
    background: var(--theme-color);
}
.mobile-menu-wrapper .mobile-menu-bar>ul {
    height: calc(100vh - 48px);
    overflow: auto;
    padding: 10px 20px;
    background: var(--second-color);
}
.mobile-menu-wrapper .mobile-menu-bar>ul>li {
    margin-top: 12px;
}
.mobile-menu-wrapper .mobile-menu-bar>ul>li a {
    font-size: 18px;
    color: var(--theme-color);
    letter-spacing: 1px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.mobile-menu-wrapper .mobile-menu-bar>ul>li a .close-menu-ioc {
    display: none;
}
.mobile-menu-wrapper .mobile-menu-bar>ul>li.is-open>a.acnav-label .menu-open-arrow {
    display: none;
}
.mobile-menu-wrapper .mobile-menu-bar>ul>li.is-open>a.acnav-label .close-menu-ioc {
    display: block;
}
.mobile-menu-wrapper .mobile-menu-bar>ul>li a .close-menu-ioc {
    display: none;
}
.mobile-menu-wrapper .mobile-menu-bar>ul>li .acnav-list { 
    margin: 12px 0;
}
.mobile-menu-wrapper .mobile-menu-bar>ul>li .menu-h-drop.is-open .acnav-label .close-menu-ioc {
    display: block;
}
.mobile-menu-wrapper .mobile-menu-bar>ul>li .menu-h-drop.is-open .acnav-label .menu-open-arrow {
    display: none;
}
.mobile-menu-wrapper .mobile-menu-bar>ul>li .mobile_menu_inner .menu-h-link ul li:not(:last-of-type) {
    margin-bottom: 8px;
}
.mobile-menu-wrapper .mobile-menu-bar>ul>li .mobile_menu_inner .menu-h-link ul li a {
    font-size: 14px;
    line-height: 18px;
    text-transform: lowercase;
}
.mobile-menu-wrapper .mobile-menu-bar>ul>li a svg {
    margin-left: auto;
    width: 14px;
}
.mobile-menu-wrapper .mobile-menu-bar>ul>li .mobile_menu_inner .menu-h-link ul {
    margin-bottom: 12px;
}
.mobile-menu-wrapper .mobile-menu-bar .has-children>ul {
    margin: 12px 0 0;
}
.mobile-menu-wrapper .mobile-menu-bar .has-children>ul>li:not(:last-of-type) {
    margin-bottom: 12px;
}
.mobile-menu-wrapper .mobile-menu-bar .has-children>ul>li>a {
    font-size: 14px;
}
.mobile-menu-wrapper .mobile-menu-bar .has-children>ul>li>a.acnav-label {
    font-weight: 600;
}
.mobile-menu-wrapper .menu-close-icon svg path {
    fill: var(--white);
}
 /* ***** CART DRAWER CSS ******* */
.overlay{
    transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -ms-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
}
.overlay.active,
.cartOpen .overlay::after {
    content: " ";
    z-index: 3;
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}
.cartDrawer {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
    background: var(--white);
    width: 410px;
    height: 100%;
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    -moz-transition: 0.4s all;
    -ms-transition: 0.4s all;
    -o-transition: 0.4s all;
    -webkit-transition: 0.4s all;
    transition: 0.4s all;
}
.cartOpen .cartDrawer {
    opacity: 1;
    visibility: visible;
    display: flex;
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.cartDrawer .cart-tottl-itm {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: block;
}
.cartDrawer .closecart {
    position: absolute;
    left: -38px;
    top: 20px;
    width: 20px;
    height: 20px;
    opacity: 0;
    visibility: hidden;
}
.cartOpen .cartDrawer .closecart {
    opacity: 1;
    visibility: visible;
}
.cartDrawer .mini-cart-has-item {
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.cartDrawer .mini-cart-body {
    overflow-y: auto;
    padding: 30px;
    flex: 1;
}
.mini-cart-image img{
    width: 110px;
    height: auto;
    border-radius: 20px;
    border: 2px solid var(--border-color);
    padding: 10px;
}
.mini-cart-footer {
    padding: 30px;
    border-top: 1px solid var(--border-color);
}
.mini-cart-footer-total-row {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: var(--theme-color);
    margin: 0 -10px 20px;
}
.mini-cart-footer-total-row div {
    padding: 0 10px;
}
.mini-cart-footer .u-save {
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    display: flex;
    color: var(--theme-color);
    margin-bottom: 30px;
    text-decoration: underline;
}
.mini-cart-footer .checkout-btn {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 20px;
    display: flex;
    padding: 12px 30px;
}
.mini-cart-footer .link-btn {
    display: flex;
    justify-content: center;
}
.mini-cart-image{
    text-align: center;
    margin: 40px 0 20px;
}
.cartDrawer .mini-cart-header {
    position: relative;
    text-align: center;
    padding: 17px 30px 16px 30px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--theme-color);
    color: var(--white);
}
.egucation-caption {
    padding: 20px 0 0;
}
.egucation-caption h6{
    padding-bottom: 10px;
}
.egucation-blog{
    border-radius: 10px;
    margin-top: 10px;
}
.personal-details h4{
    padding-bottom: 10px;
}
.personal-li {
    padding: 5px 0px;
}
.personal-li b{
    font-size: 15px;
}
/********** SLICK SLIDE NOT FIRST NONE CSS ***********/
.bestsell-cat-slider:not(.slick-initialized) *:not(:first-child),
.product-center-slider:not(.slick-initialized) *:not(:first-child),
.best-product-slider:not(.slick-initialized) *:not(:first-child),
.client-logo-slider:not(.slick-initialized) *:not(:first-child),
.home-left-slider:not(.slick-initialized) *:not(:first-child),
.home-right-slider:not(.slick-initialized) *:not(:first-child) {
    display: none !important;
} 
/***** DESKTOP HOVER CSS  *****/
@media (hover: hover) {
    a:hover,
    a:focus {
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    .header-style-one .menu-dropdown ul>li a:hover {
        border-color: var(--theme-color);
    }
    .header-style-one .main-navigationbar .menu-items-col .main-nav>li>a.active:hover,
    .header-style-one .main-navigationbar .menu-items-col .main-nav>li>a.active,
    .header-style-one .main-navigationbar .menu-items-col .main-nav>li:hover>a {
        color: var(--theme-color);
    }
    .header-style-one .main-navigationbar .menu-items-col .main-nav>li:hover>a:before {
        opacity: 1;
        width: 100%;
        visibility: visible;
    }
    .header-style-one .main-navigationbar .menu-items-col .main-nav>li.has-item>.category-btn:hover svg path {
        fill: var(--white);
    }
    .header-style-one .main-navigationbar .menu-items-col .main-nav>li.has-item>.category-btn:hover {
        background: var(--theme-color);
        color: var(--white);
    }
    .header-style-one .main-navigationbar .menu-items-col .main-nav>li.has-item>.category-btn:hover:after {
        background: url(../images/hover-menu.png);
        background-size: 10px;
        background-repeat: no-repeat;
        background-position: center center;
    } 
    .policy-links li a:hover,
    .footer-link ul li a:hover,
    .footer-link .contactlink a:hover{
        opacity: 0.7;
    } 
    .content-img-box-body:hover img {
        transform: scale(1.1);
    }
    .product-detail-bttom-stuff button:hover svg path {
        fill: var(--white);
    }
    .product-detail-bttom-stuff button:hover {
        background: transparent;
        color: var(--white);
    }
    .pro-itm-inner > .filter-listing > ul > li a:hover {
        font-weight: 600; 
    } 
    .back-btn-acc:hover {
        background: var(--black);
    }
}
/********* HOME BANNER SECTION CSS ********/ 
.main-personal-details{
    background: url(../images/section-bg.webp) no-repeat center;
    background-size: cover;
    padding-top: 60px;
}
.personal-blog{
    align-items: center;
    margin: 
30px 0 0 ;
}
.personal-blog{
    max-width: 483px;
}
.personal-blog p{
    padding: 30px 0 0 ; 
}
.personal-caption  img {
    width: 100%;
    height: 100%;
    height: auto;
    max-width: 237px;
    display: flex;
    margin: auto;
    border-radius:5px;
    border: 1px solid var(--theme-color);
    padding: 10px;
}
/****** profile-details *****/
/* .profile-details{
    background: url(../images/profile-back.jpg) no-repeat center;
    background-size: cover;
} */
.profile-blong ul li{
    padding: 6px 0;
    font-size: 16px;
}
.pg-blog{
    position: relative;
    display: block;
    width: 100%;
    padding-top: 12%;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    margin: 0 10px;
}
.pg-blog img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;   
}
.ssc-detais{
    position: relative;
}
.ssc-detais h6::before{
    position: absolute;
    content: '';
    width: 30px;
    height: 2px;
    background: var(--theme-color);
    top: 22px;
}
.ssc-detais ul{
    padding: 20px 0 0;
}
.ssc-detais ul li{
    padding: 10px 0;
}
/***** friend-img ******/
.friend-blog{
    position: relative;
    display: block;
    width: 100%;
    padding-top: 4%;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    margin: 0 10px;
}
.friend-blog img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;  
}
/**** skill-devlopment ****/
.skill-has{
   margin-top: 15px;
    font-weight: 700; 
}
.core-skills ul{
    padding: 0   15px;
}
.core-skills ul li{
    list-style-type: circle;
    padding: 10px 0 0;
}
.core-skills ul li:hover{
    color: #ad8d58;
    font-weight: 700;
    transition: 0.5 all ease-in-out;
}
.skill-picture{
    position: relative;
    display: block;
    width: 100%;
    padding-top: 10%;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    margin: 90px 10px;
}
.skill-picture img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;  
}
/***** about-caption *****/
.intrest-ara h5{
    padding: 15px 0;
}
.intrest-ara ul li{
    list-style-type:disc;
    padding: 10px 0px;
}
.intrest-ara ul li b{
    font-size: 15px;
}
.intrest-ara ul li:hover{
    text-decoration: underline;
    color: var(--grey-color);
}
.hobby h6{
    padding:  0 0 20px;
}
.hobby ul li{
    list-style-type:disc;
    padding: 7px 0;
}
.exprience-caption h6{
    padding: 10px 0;
}
.expre-has{
    padding: 0 0 10px;
    font-weight: 700;
}
.expre-li{
    padding: 7px 0;
}
.expre-li b{
    font-size: 15px;
}
.narendra-modi{
    position: relative;
    display: block;
    width: 100%;
    padding-top: 10%;
    overflow: hidden;
    z-index: 1;
    margin: 60px 10px;
}
.narendra-modi img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;  
}
.about-me-photo{
    margin-right: 50px;
}
/**** contact ****/


.back-toshop span  svg path {
    fill: var(--theme-color);
}
.back-toshop {
    margin-bottom: 30px;
}
.form-wrapper h4 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 15px;
} 
.form-wrapper .form-heading h4 {
    margin-bottom: 0;
}
.form-wrapper h4 b {
    font-family: var(--first-font);
    font-style: normal;
    font-weight: 600;
}  
.form-wrapper form {
    border: 1px solid var(--border-color);
} 
.form-container {
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
}
.form-container:last-child {
    border-bottom: 0;
}
.register-page .section-title {
    margin-bottom: 50px;
}
.submit-button{
   margin-top: 10px;
}